
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto Condensed', sans-serif;
}

 

.container {
  display: grid;

  background-repeat: no-repeat;
  height: 100%;
  background-size: cover;
  background-attachment: fixed;


  grid-template-areas: 
  "nav nav"
  "main main"
  "footer footer";
  grid-template-rows: 100px 1fr 40px;
 
}
.claro {
  background-image:  linear-gradient(to right,rgb(32, 41, 92), rgb(160, 160, 160), rgb(56, 198, 241));
}

.escuro {
 
 background-image: linear-gradient( to right,rgb(6, 6, 41), rgb(0, 0, 0), rgb(0, 0, 0));
}
.claro #link {
  color: rgb(0, 0, 0);
}
.escuro #link {
  color: rgb(255, 255, 255);
}
nav {

  grid-area: nav;
}



main {

  grid-area: main;
  margin-top: 100px;
  padding-bottom: 30px;
}


footer {
  padding: 10px;
  display: flex;
  justify-content: center;
 color: azure;
  grid-area: footer;
  background-color: black;
}


